<div class="hero">
  <div class="hero__media">
    <video loop muted autoplay>
      <!-- <source src="files/videos/algeria.webm" type="video/webm"> -->
      <source src="files/videos/algeria.mp4" type="video/mp4">
      <!-- <source src="files/videos/algeria.ogv" type="video/ogg"> -->
    </video>
  </div>
  <div class="hero__logo">
    <img src="img/content/kaizen-logo-light.png" alt="Kaizen Creative Logo"/>
  </div>
  <button class="hero__scroll">
    {{> icon--down-arrow }}
    <span class="sr-only">Scroll to main content</span>
  </button>
</div>
