<div class="hero">
  <div class="hero__media">
    <video loop muted autoplay>
    </video>
  </div>
  <div class="hero__logo">
    {{> icon--logo }}
  </div>
  <button class="hero__scroll">
    {{> icon--down-arrow }}
    <span class="sr-only">Scroll to main content</span>
  </button>
</div>
