<article class="card">
  <div class="card__inner">
    <div class="card__media" style="background-image: url({{card__image}})"></div>
    <h3 class="card__title">{{card__title}}</h3>
    <a href="{{card__link}}" class="btn btn--light card__link">View <span class="sr-only">{{card__title}}</a>
  </div>
</article>
