// ====================
// Quote
// ========================================

.quote {
  margin: 0 auto;
  max-width: 400px;
  padding: ($spacer-y*2) 0 0 0;
  font-size: 20px;
  line-height: 1.6;

  @include mq($from: desktop) {
    padding: ($spacer-y*4) 0 0 0;
    max-width: 560px;
  }

  q {
    text-indent: 26px;
    position: relative;
    display: block;
    &:after, &:before {
      font-size: 50px;
      @include mq($from: tablet) {
        font-size: 60px;
      }
    }
    &:before {
      position: absolute;
      top: -18px;
      left: -26px;
      @include mq($from: tablet) {
        top: -22px;
        left: -26px;
      }
    }
    &:after {
      position: relative;
      bottom: -18px;
      right: -10px;
      line-height: 0;
      @include mq($from: tablet) {
        bottom: -22px;
        right: -10px;
      }
    }
  }

  span {
    display: block;
    padding-top: $spacer-y;
    text-align: center;
    font-weight: bold;
  }
}
