// ====================
// Quote
// ========================================

.quote {
  margin: 0 auto;
  max-width: 400px;
  font-size: 18px;
  line-height: 1.6;
  padding-bottom: $spacer-y*2;

  @include mq($from: desktop) {
    max-width: 560px;
    font-size: 20px;
    padding-bottom: $spacer-y*4;
  }

  q {
    text-indent: 26px;
    position: relative;
    display: block;
    &:after, &:before {
      font-size: 50px;
      @include mq($from: tablet) {
        font-size: 60px;
      }
    }
    &:before {
      position: absolute;
      top: -18px;
      left: -26px;
      @include mq($from: tablet) {
        top: -22px;
        left: -30px;
      }
    }
    &:after {
      display: none;
    }
  }

  span {
    display: block;
    padding-top: $spacer-y;
    text-align: center;
    font-weight: bold;
    font-family: $font-family-secondary;
  }
}
