// ==============================
// Header
// ========================================

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

// ==============================
// Header inner
// ========================================

.header__wpr {
  width: 100%;
  height: 60px;
  background: $color-white;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: border 0.3s;

  .has--scrolled & {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    z-index: $zindex-header;
  }
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 $spacer;
  margin: 0 auto;
  width: 100%;
  height: 60px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @each $mq-breakpoints, $container-max-width-header in $container-max-widths-header {
    @include mq($from: $mq-breakpoints) {
      max-width: $container-max-width-header;
    }
  }
}

// ==============================
// Header Logo
// ========================================

.header__logo {
  position: relative;
  z-index: $zindex-header-logo;
  flex: 0 1 40px;
  width: 40px;
  svg {
    max-width: 100%;
  }

  .is--active & {
    position: fixed;
    top: 5px;
    left: 20px;
  }
}

// ==============================
// Header Nav
// ========================================

.header__nav {
  @include mq($until: desktop) {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    transform: translateX(-100%);
    background: $color-white;
    z-index: $zindex-header;
    opacity: 0;
    transition: opacity 0.3s;

    .is--active & {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @include mq($from: desktop) {
    text-align: right;
    flex: 0 1 100%;
  }
}

// ==============================
// Header Nav List
// ========================================

.header__nav__list {
  list-style: none;
  margin-bottom: 0;

  @include mq($until: desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    text-align: center;

    li {
      position: relative;
      transform: translateY(-10px);
      opacity: 0;
      font-size: 10vh;

      .is--active & {
        transition: transform 1s, opacity 0.5s;
        transform: translateY(0);
        opacity: 1;

        &:nth-of-type(1) {
          transition-delay: 0.15s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.3s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.45s;
        }
      }
    }
  }

  @include mq($from: desktop) {
    li {
      display: inline-block;

      &:not(:last-child) {
        padding-right: $spacer-x*2;
      }
    }
  }
}

// ==============================
// Header Nav Trigger
// ========================================

.header__nav__trigger {
  position: absolute;
  top: 16px;
  right: 18px;
  width: 40px;
  height: auto;
  z-index: $zindex-header-trigger;

  @include button-unstyled;

  &-icon {
    display: block;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s, opacity 0.4s;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: $color-grey-dark;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .is--active & {
      transform: scale(0);
      opacity: 0;
    }
  }

  &-icon-close {
    display: block;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s, opacity 0.4s;

    span {
      display: block;
      position: absolute;
      top: -12px;
      right: 0;
      width: 100%;
      height: 2px;
      background: $color-grey-dark;
      &:nth-of-type(1) {
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        transform: rotate(-45deg);
      }
    }

    .is--active & {
      transform: scale(1);
      opacity: 1;
    }
  }

  .is--active & {
    position: fixed;
    top: 14px;
    right: 18px;
  }

  @include mq($from: desktop) {
    display: none;
  }
}


// ====================
// Header modifiers
// ========================================

// .header--modifier {
// }
