<header class="header">
  <div class="header__wpr">
    <div class="header__inner">
      <div class="header__logo">
        <img src="img/content/kaizen-logo-dark-icon.png" alt="Kaizen Creative Logo">
      </div>
      <div class="header__nav">
        <ul class="header__nav__list">
          <li><a href="#" class="btn btn--navlink">Home</a></li>
          <li><a href="#" class="btn btn--navlink">Work</a></li>
          <li><a href="#" class="btn btn--navlink">Contact</a></li>
        </ul>
      </div>
      <button class="header__nav__trigger">
        <div class="header__nav__trigger-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="header__nav__trigger-icon-close">
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
  </div>
</header>
