<header class="header">
  <div class="header__wpr">
    <div class="header__inner">
      <div class="header__logo">
        <a href="/">
          {{> icon--logo logo-small="true" }}
        </a>
      </div>
      <div class="header__nav" id="header-navigation" role="region" tabindex="-1">
        <ul class="header__nav__list">
          <li><a href="home.html" class="btn btn--navlink">Home</a></li>
          <li><a href="work.html" class="btn btn--navlink">Our work</a></li>
          <li><a href="contact.html" class="btn btn--navlink">Contact</a></li>
        </ul>
      </div>
      <button class="header__nav__trigger" aria-controls="header-navigation" aria-expanded="false">
        <span class="sr-only">Show Menu</span>
        <div class="header__nav__trigger-icon" aria-hidden="true">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="header__nav__trigger-icon-close" aria-hidden="true">
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
  </div>
</header>
