<header class="header">
  <div class="header__wpr">
    <div class="header__logo">
      <img src="img/content/kaizen-logo-dark-icon.png" alt="Kaizen Creative Logo">
    </div>
    <div class="header__nav">
      <ul class="header__nav__list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</header>

<button class="header__nav__trigger">
  <span class="header__nav__trigger-icon">
    <span></span>
    <span></span>
    <span></span>
  </span>
  <span class="header__nav__trigger-icon-close">
    <span></span>
    <span></span>
  </span>
</button>
