// ==============================
// Buttons
// ========================================

.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: color 0.3s;

  &.btn--light {
    color: $color-white;
    &:hover {
      color: darken($color-white, 20%);
    }
  }

  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  @include hover-focus {
    text-decoration: none;
  }

  &:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.01);
  }

  &:disabled {
    opacity: .3;
    cursor: disabled;
  }

  &.btn--navlink {
    @include mq($until: desktop) {
      font-size: 8vh;
    }
  }

  &:not(.btn--navlink) {
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 2px;
      z-index: -1;
      background: $color-a-primary;
      background: linear-gradient(45deg, #197897 0%,#5d4782 100%);
    }
    &:before {
      content: '';
      position: absolute;
      left: -100%;
      bottom: 0px;
      width: 100%;
      height: 3px;
      z-index: 1;
      background: $color-white;
    }
    @include mq($from: desktop) {
      &:hover {
        &:before {
          animation: btnLine 0.5s cubic-bezier(.71,.34,.62,.72);
        }
      }
    }
  }
}

@keyframes btnLine {
  0% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}


// ====================
// button sizes
// ========================================

// Large button
//
.btn--lg {
  @include button-size($btn-lg-padding-y, $btn-lg-padding-x, $btn-lg-font-size, $btn-lg-line-height, $btn-lg-border-radius);

  @include mq($from: tablet) {
    font-size: $btn-lg-font-size-tablet;
  }

  &:after {
    bottom: 0px !important;
  }
  &:before {
    bottom: 0px !important;
  }
}
