---
title: "Contact"
#body_classes:
layout: default
meta_url: contact
---

<div class="container">

  <div class="page-header">
    <h1 class="page-header__title">Contact us</h1>
  </div>

  <section class="section">
    <div class="section__block text--center">
      <p class="lead mb-0">We're based in Jersey, UK.</p>
      <p class="lead mb-2">Got a project we can&nbsp;help&nbsp;with?<span class="br"></span>Please get in touch.</p>
      <ul class="list--unstyled">
        <li class="mb-2">{{> icon--mail icon__width="40" icon__height="40" }}<a href="mailto:mail@kaizen-creative.com" class="btn btn--lg ml-1">mail@kaizen-creative.com</a></li>
        <li>{{> icon--phone icon__width="40" icon__height="40" }}<a href="tel:07428986742" class="btn btn--lg ml-1">07428 986 742</a></li>
      </ul>
    </div>
  </section>

</div>
