---
title: "Contact"
#body_classes:
layout: default
meta_url: contact
---

<div class="container">

  <h1 class="sr-only">Contact us</h1>

  <section class="section">
    <div class="section__block text--center">
      <p class="lead mb-0">We're based in Jersey, UK.</p>
      <p class="lead mb-2">Got a project we can&nbsp;help&nbsp;with?<span class="br"></span>Please get in touch.</p>
      <ul class="list--unstyled">
        <li class="mb-2"><a href="mailto:mail@kaizen-creative.com" class="btn btn--lg">mail@kaizen-creative.com</a></li>
        <li><a href="tel:07428986742" class="btn btn--lg">07428 986 742</a></li>
      </ul>
    </div>
  </section>

  <section class="section section--team">
    <div class="section__header text--center">
      <h2 class="h2">Our team</h2>
    </div>
    <div class="section__block text--center">
      <div class="team">
        {{> team-member
          team-member__img="dominic-hirani.jpg"
          team-member__name="Dominic Hirani"
          team-member__role="Videographer, Founder"
          team-member__linkedin="#"
          team-member__twitter="#"
        }}
        {{> team-member
          team-member__img="dominic-hirani.jpg"
          team-member__name="Isaac Brook"
          team-member__role="Editor, Manager"
          team-member__linkedin="#"
          team-member__twitter="#"
        }}
      </div>
    </div>
  </section>

</div>
