---
title: "Home"
#body_classes:
layout: default
meta_url: home
home: true
---

<div class="container">
  <section class="section section--2col">
    <div class="section__block">
      <div class="row">
        <div class="col-md-6">
          <h2 class="display-1 text--uppercase">We imagine,<span class="br"></span>capture and <span class="br"></span>create.</h2>
        </div>
        <div class="col-md-6">
          <p class="lead">
            At Kaizen Creative, our services encompass all areas of film including production, equipment rigging and social media marketing/managing. We provide a high quality product using the latest 4K cameras with inherent enthusiasm and passion for our work.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="img-grid">
    <div class="img-grid__item">
      <img src="img/content/home-img-1.jpg" alt="">
    </div>
    <div class="img-grid__item">
      <img src="img/content/home-img-2.jpg" alt="">
    </div>
    <div class="img-grid__item">
      <img src="img/content/home-img-3.jpg" alt="">
    </div>
  </div>

  <section class="section mw--800">
    <div class="section__header">
      <div class="section__header__title">
        <h2 class="h2 text--center-tablet-down mb-0">Our work</h2>
        <div class="section__header__link">
          <a href="/news" class="btn">All work</a>
        </div>
      </div>
    </div>
    <div class="section__block">
      {{> card
        card__title="Nostrud aliqua consectetur ullamco fugiat deserunt exercitation eiusmod"
        card__link="work-detail.html"
        card__image="img/content/work-item-1-algeria.jpg"
      }}
      {{> card
        card__title="Nostrud aliqua consectetur ullamco fugiat deserunt exercitation eiusmod"
        card__link="work-detail.html"
        card__image="img/content/work-item-1-algeria.jpg"
      }}
    </div>
  </section>
</div>
