---
title: "Our work"
#body_classes:
layout: default
meta_url: work
---

<div class="container">

  <h1 class="sr-only">Our work</h1>

  <section class="section pt-0-tablet-down mw--800">
    <div class="section__block">
      {{> card
        card__title="Nostrud aliqua consectetur ullamco"
        card__link="work-detail.html"
        card__image="img/content/work-item-1-algeria.jpg"
      }}
      {{> card
        card__title="Incididunt elit anim"
        card__link="work-detail.html"
        card__image="img/content/work-item-2-jss.jpg"
      }}
      {{> card
        card__title="Nostrud aliqua consectetur ullamco"
        card__link="work-detail.html"
        card__image="img/content/work-item-1-algeria.jpg"
      }}
      {{> card
        card__title="Incididunt elit anim"
        card__link="work-detail.html"
        card__image="img/content/work-item-2-jss.jpg"
      }}
      {{> card
        card__title="Nostrud aliqua consectetur ullamco"
        card__link="work-detail.html"
        card__image="img/content/work-item-1-algeria.jpg"
      }}
    </div>
  </section>

</div>
